/* Universal */
:root {
  --blue: #034efc;
  --darkblue: #000dc2;
  --lightblue: #38c0ff;
}
/* Element Selectors */

/* Class Selectors */
.bg-blue {
  background-color: var(--blue);
}
.bg-darkblue {
  background-color: var(--darkblue);
}
.bg-lightblue {
  background-color: var(--lightblue);
}
/* index condition */
.favorable {
  background-color: green;
}
.moderate {
  background-color: yellow;
}
.severe {
  background-color: red;
}
/* ICON */
.icon {
  width: 30px;
  height: 30px;
}
/* Media Queries */
